{% extends 'base.html'%}

    <title>{%block title%}register{%endblock%}</title>

    {%block content%}
    <div class="container">
        <h1>Register Page</h1>
        <br>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <!-- <container>
                <div class="mb-3">
                    <input type="text" class="form-control" name="firstname" placeholder="Firstname"><br>
                    <input type="text" class="form-control" name="lastname" placeholder="Lastname"><br>
                    <input type="text" class="form-control" name="username" placeholder="Username"><br>
                    <input type="email" class="form-control" name="email" placeholder="Email"><br>

                    <input type="text" class="form-control" name="address" placeholder="Address"><br>
                    <input type="text" class="form-control" name="phone_number" placeholder="Phone"><br>
                    <input type="date" class="form-control" name="birth_date" placeholder="DateofBirth">
                     <div name="date" class="form-text">
                        Enter your date of birth above.
                        </div><br>

                    <div class="mb-3" >
                        <label for="disabledSelect" class="form-label">Gender:</label>
                        <select id="disabledSelect" class="form-select" name="gender">
                            <option value=3>Others</option>
                            <option value=1>Male</option>
                            <option value=2>Female</option>

                        </select>
                        </div> 

   

                    <input type="password" name="password" class="form-control" aria-describedby="Password" placeholder="Password">
                    <div name="password" class="form-text">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                        </div><br>

                        <input type="password" name="password2" class="form-control" aria-describedby="Password2" placeholder="Password2">
                        <div name="password2" class="form-text">
                            Type Your password again.
                            </div><br> -->
                        
                        

                    <input type="submit" value="Register" class="btn btn-success">
    
                  </div> 

    
             </container>
            
        </form>
{%endblock%}
