{% include 'base.html'%}

    <title>{%block title%}{{users.username |lower}}{%endblock%}</title>

    {%block content%}
    <div class="container">
      <br>
      <h1>UserProfile</h1>
        <br>

      <div class="cv-section">
          <h2>Personal Information</h2>
          <div class="row">
              <div class="col-md-6">
                  <p><strong>Username:</strong> {{ users.username|capfirst }}</p>
                  <p><strong>Full Name:</strong> {{ personal_info.first_name|capfirst }} {{ personal_info.last_name|capfirst }}</p>
                  <p><strong>Email:</strong> {{ personal_info.email }}</p>
                  <p><strong>Phone:</strong> {{ personal_info.phone }}</p>
              </div>
              <div class="col-md-6">
                  <p><strong>Address:</strong> {{ personal_info.address|capfirst }}</p>
                  <p><strong>Languages:</strong> 
                    {% for lan in personal_info.languages.all %}
                    {{ lan.name }},
                    {% endfor %}
                  </p>

              </div>
              
          </div>
      </div>
      <div class="cv-section">
        <h2>Skills</h2>
        {% for skill in personal_info.skills.all %}
          <p><strong>{{skill.name}}</strong> </p>
        {%endfor%}
    </div>

      <div class="cv-section">
          <h2>Education</h2>
          <p><strong>Degree:</strong> Bachelor of Science in Computer Science</p>
          <p><strong>Institution:</strong> University of XYZ</p>
          <p><strong>Year:</strong> 2020</p>
      </div>
      <div class="cv-section">
          <h2>Experience</h2>
          <p><strong>Position:</strong> Software Engineer</p>
          <p><strong>Company:</strong> ABC Technologies</p>
          <p><strong>Duration:</strong> 2018 - Present</p>
          <p><strong>Responsibilities:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    
      <a href="{% url 'update_profile' users.id %}">Update Profile</a>

  </div>
{%endblock%}